option_settings:
  aws:elasticbeanstalk:application:environment:
    STREAMLIT_SERVER_PORT: 8501
    STREAMLIT_SERVER_HEADLESS: true
    AWS_DEFAULT_REGION: eu-north-1
  aws:elasticbeanstalk:container:python:
    NumProcesses: 1
    NumThreads: 15
  aws:autoscaling:launchconfiguration:
    InstanceType: t2.small
    IamInstanceProfile: aws-elasticbeanstalk-ec2-role
  aws:elasticbeanstalk:environment:
    ServiceRole: aws-elasticbeanstalk-service-role
    LoadBalancerType: application
  aws:elbv2:listener:default:
    ListenerEnabled: true
    Protocol: HTTP
  aws:elasticbeanstalk:environment:proxy:
    ProxyServer: none

packages:
  yum:
    git: []
